:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 20px;
}

.normal {
  color: lawngreen;
}

.notice {
  color: #f00;
}

.italic {
  font-style: italic;
}

.boxColor {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.boxColor div {
  height: 50px;  
  width: 45%;
  margin: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}